/* Error: expected "{".
 *   ,
 * 4 | $dark-green-title: #025157;
 *   |                           ^
 *   '
 *   scss/_global.scss 4:27  @use
 *   scss/main.scss 1:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 4 \2502  $dark-green-title: #025157;\a   \2502                            ^\a   \2575 \a   scss/_global.scss 4:27  @use\a   scss/main.scss 1:1      root stylesheet';
}
