body {
    background-color: #d5d5d5;
  }
  .logo {
    width: 15%;
  }
  .logo > img {
    width: 15%;
  }
  
  h1 {
    color: #025157;
    text-align: center;
  }
  
  p {
    color: #ffffff;
    font-family: Verdana;
    font-size: 20px;
  }
  
  button {
    color: #fff;
    background-color: #025157;
  }
  
  .header {
    margin: 40px 20px; 
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }
  
  li {
    display: inline;
    margin: 0 25px;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
  }
  
  .menu {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
  }

  
  
  
  .botones {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    
  }
  .menu > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  .menu a {
    color: #67b54b;
  }
  
    